.hidden { 
  display: none; 
}

.shown {
  display: initial;
}

.left {
  float: left;
}

.section {
  border: black 1px solid;
  padding-bottom: 10px;
}

.sectionTitle {
  border-bottom: black 1px solid;
  font-size: 1.2em;
  background-color:rgb(113, 179, 218);
  padding: 10px;
}

.container {
  margin-left: 10px;
  margin-top: 10px;
} 

button {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Choose screen */

.chooseScreen {
  font-size: 1.2em;
}

.chooseScreen .slider{
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} 

.chooseScreen .slider:hover {
  opacity: 1; 
}

.chooseScreen .slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  border-radius: 50%; 
  background: blue; 
  cursor: pointer;
}

.chooseScreen .slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  background: blue; 
  cursor: pointer; 
}

.chooseScreen .welcome {
  font-size: 1.8em;
}

.chooseScreen .gameName {
  color: cornflowerblue;
}

.chooseScreen #startButton {
  background-color: lightgreen;
} 

.chooseScreen #showStatisticsButton {
  width : auto;
}

/* Game Screen */

.gameScreen {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  user-select: none; 
}

.gameScreen .mainArea {
  text-align: center;
}

.gameScreen .levelDisplayContainer {
    font-size: 1.8em;
    text-align: center;
}

.gameScreen .moveDisplayContainer {
    font-size: 1.5em;
    text-align: center;
}

.gameScreen .count {
    color: red;
}

/* Finish screen */

.finishScreen {
  font-size: 1.2em;
}

.finishScreen .welldone {
  font-size: 1.8em;
  color: green;
}

.finishScreen .rating {
  font-size: 1.65em;
  color: red;
}

/* Stats screen */
.statisticsScreen {
  font-size: 1.2em;
}

.statisticsScreen table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.statisticsScreen th, td {
  text-align: left;
  padding: 5px;
}

.statisticsScreen  tr:nth-child(even) {
  background-color: #eee;
}
.statisticsScreen tr:nth-child(odd) {
  background-color: #fff;
}
.statisticsScreen  th {
  color: white;
  background-color: black;
}