:root {
  --highlight-colour: rgb(113, 179, 218);
  --action-button-colour: lightgreen;
}

.hidden { 
  display: none; 
}

.shown {
  display: initial;
}

.left {
  float: left;
}

.section {
  border: black 1px solid;
  padding-bottom: 10px;
}

.sectionTitle {
  border-bottom: black 1px solid;
  font-size: 1.2em;
  background-color: var(--highlight-colour);
  padding: 10px;
}

.actionButton {
  background-color: var(--action-button-colour);
} 

.container {
  margin-left: 10px;
  margin-top: 10px;
} 

.slider{
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} 

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  border-radius: 50%; 
  background: var(--highlight-colour); 
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  background: var(--highlight-colour); 
  cursor: pointer; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.checkboxSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkboxSwitch:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkboxSwitch {
  background-color: var(--highlight-colour);
}

input:checked + .checkboxSwitch:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}

.checkboxSwitch.round {
  border-radius: 34px;
}

.checkboxSwitch.round:before {
  border-radius: 50%;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Choose screen */

.chooseScreen {
  font-size: 1.2em;
}

.chooseScreen .welcome {
  font-size: 1.8em;
}

.chooseScreen .gameName {
  color: var(--highlight-colour);
}

.chooseScreen #showStatisticsButton {
  width : auto;
}

/* Game Screen */

.gameScreen {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  user-select: none; 
}

.gameScreen .mainArea {
  text-align: center;
}

.gameScreen .levelDisplayContainer {
    font-size: 1.8em;
    text-align: center;
}

.gameScreen .moveDisplayContainer {
    font-size: 1.5em;
    text-align: center;
}

.gameScreen .count {
    color: red;
}

.gameScreen .gameCongratulateLine {
  height: 64px;
  font-size: 2.4em;
  text-align: center;
  color: red;
}

.gameScreen #gameTopArea, .gameScreen #gameCongratulateArea {
  height: 65px;
}

/* Finish screen */

.finishScreen {
  font-size: 1.2em;
}

.finishScreen .welldone {
  font-size: 1.8em;
  color: green;
}

.finishScreen .rating {
  font-size: 1.65em;
  color: red;
}

/* Stats screen */
.statisticsScreen {
  font-size: 1.2em;
}

.statisticsScreen table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.statisticsScreen th, td {
  text-align: left;
  padding: 5px;
}

.statisticsScreen  tr:nth-child(even) {
  background-color: #eee;
}

.statisticsScreen tr:nth-child(odd) {
  background-color: #fff;
}

.statisticsScreen th {
  color: white;
  background-color: black;
}