.hidden { 
  display:none; 
}

/* Choose screen */

.chooseScreen {
  font-size: 1.2em;
}

.chooseScreen .slider{
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} 

.chooseScreen .welcome {
  font-size: 1.8em;
}

.chooseScreen .gameName {
  color: cornflowerblue;
}

.chooseScreen div {
  margin-left: 10px;
  margin-top: 10px;
}

.chooseScreen button {
  margin-top: 10px;
  width: 70px;
  height: 35px;
}

.chooseScreen #startButton {
  position: relative;
  left: 10px;
  top: 10px;
}

/* Game Screen */

.gameScreen {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  user-select: none; 
}

.gameScreen .levelDisplayContainer {
    width: 800px;
    font-size: 1.8em;
    text-align: center;
}

.gameScreen .moveDisplayContainer {
    width: 800px;
    font-size: 1.5em;
    text-align: center;
}

.gameScreen .count {
    color: red;
}

.gameScreen button {
    margin-top: 10px;
    width: 70px;
    height: 35px;
}

.gameScreen #backButton {
    position: absolute;
    left: 10px;
    top: 10px;
}

/* Finish screen */

.finishScreen {
  font-size: 1.2em;
}
.finishScreen .welldone {
  font-size: 1.8em;
  color: green;
}